/* @font-face {
    font-family: "Fungal";
    src: url('assets/fonts/Fungal-Grow100Thickness1000.woff');
} */

@font-face {
    font-family: 'HKGrotesk';
    src: url('../fonts/HKGrotesk-Regular.woff');
}



html {
    counter-reset: sidenote-counter;
}
::-webkit-scrollbar {
    width: 20px;
  }

  /* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  } */

  ::-webkit-scrollbar-thumb {
    background: rgb(9, 9, 9); 
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e20202; 
  }


body * {
    cursor: url("../gun.png") 0 25, auto!important;
  }

  body {
    font-family: 'HKGrotesk', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(210,208,204,1);
    /* background: linear-gradient(190deg, rgb(21, 21, 21) 0%, rgb(75, 30, 30) 50%, rgba(210,208,204,1) 100%); */
    /* background-image: url('../bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;    */
    /* background-blend-mode: difference; */
}


/* FONTS DONT LOAD. fixed */



.test {
    width: 20%;
}

.imagegrow {
    width: 50vw;
    display: flex;
    justify-content: center;
}

.imagegrow img {
    border-radius: 10px;
    z-index: 999;
    width: 40%;
    transition: transform 0.8s ease; /* Add a smooth transition effect */
}

.imagegrow:hover img {
    transform: scale(2); /* Increase the size of the image on hover */
}

.title-container {
    background-color: rgb(31, 31, 31);
    background-image: url(../background2.png);
    background-size: cover;
    color: black;
    font-family: "becker-gothics-concave", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    text-align: center;
    padding-top: 250px;
    width: auto;
    height: 100vh;
    display: inline-block;
    width: 100%;
}

/* not really working */




/* header {
    font-size: 20px;
    text-align: center;
} */

/* on header hover could make an image appear in the background */



header > nav {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 45px;
    font-family: "becker-gothics-concave", serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 10%;
    padding-bottom: 25%;
}

.drawing1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 98vw;
    user-select: none;
    pointer-events: none;
    opacity: 0.9;
    height: 100vw;
    top: -35vh;
}
.drawing1 img {
    width: 100%;
    height: 100%;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    /* text-decoration: underline; */
}

a:hover {
    color: black;
    text-shadow: 0px 0px 1px #000, 0px 0px 1px black, 0px 0px 1px red, 0px 0px 1px red, 0px 0px 3px red;
}

/* header > p {
    text-align: center;
    padding-top: 30%;
    font-size: 25px;
} */


h1:hover {
    color: rgb(255, 0, 0);
    /* cursor: crosshair; */
}



main {
   /* background-color: white; */
   /* margin-left: auto;
   margin-right: auto;
   width: 50%; */
   padding-left: 5%;
   padding-right: 5%;
    padding-top: 5%;
    /* font-family: Arial, Helvetica, sans-serif; */

}

main > h2 {
    font-size: 30px;
}

main > p {
    font-size: 20px;
}

/* main > article > section > p {
    text-indent: 2rem;
} */

/* main > article > section > p:first-of-type {
    text-indent: 0rem;
} */

.abstract-block {
    /* background-color: red; */
    padding-bottom: 10%;
    margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.abstract-block p{
    font-size: 25px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px; 
}

.abstract-block h2 {
    font-family: "becker-gothics-concave", serif;
    font-weight: 400;
    font-style: normal;
    color:black;
    font-size: 50px;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

.introduction-block {
    /* padding-bottom: 5%; */
    margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.introduction-block p{
    text-shadow: 0px 0px 1px #000, 0px 0px 1px black, 0px 0px 1px red, 0px 0px 1px red, 0px 0px 1px red;
    /* -webkit-text-stroke-color: red;
    -webkit-text-stroke-width: 1px; */
    /* font-family: 'HKGrotesk';  */
    font-size: 25px;
  
}

.introduction-block h2{
    font-family: "becker-gothics-concave", serif;
    font-weight: 400;
    font-style: normal;
    color:black;
    font-size: 50px;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.chapter-1-block p {
    color:rgb(0, 0, 0);
    font-size: 25px;
    text-shadow: 0px 0px 1px #000, 0px 0px 1px black, 0px 0px 1px red, 0px 0px 1px rgb(129, 0, 0), 0px 0px 0.5px rgb(129, 0, 0);
    margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.chapter-1-block h2 {
    font-family: "becker-gothics-concave", serif;
    font-weight: 400;
    font-style: normal;
    color:black;
    font-size: 50px;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}




/* works for first two images as they should*/
.figures {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* color: white; */
    align-items: baseline;
    padding-top: 50px;
    padding-bottom: 50px;
}


figure {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative; /* Needed for absolute positioning of figcaption */
    
}

img {
    bottom: 0;
    min-width: 0;
    height: auto;
    align-self: baseline;
    /* width: 80%; */
    width: 20%; /* testing image grow */
    
     /* Ensure images don't exceed container width */
}

.figcaption {
    width: 50vw; /* Full width by default */
    text-align: center; /* Center the text */
    margin-top: 10px; /* Add some space between the image and the caption */
    position: relative;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    padding: 10px; /* Optional: add padding for better readability */
    background-color: rgba(0, 0, 0, 0.7); /* Optional: add background color for better readability */
    color: rgb(253, 253, 253); /* Optional: ensure text is visible */
}




/* .figures-2 {
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* color: white; */
    /* align-items: baseline;
    padding-top: 50px;
    padding-bottom: 50px;
} */ 

/* NOT CENTERING ARGGGH!!!! */



/* .images-chapter-1 {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}  */



.subchapter-1-block h2 {
    font-family: "becker-gothics-concave", serif;
    font-weight: 400;
    font-style: normal;
    color:black;
    font-size: 30px;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    
}

.subchapter-1-block p {
    color:rgb(0, 0, 0);
    font-size: 25px;
    text-shadow: 0px 0px 1px #000, 0px 0px 1px black, 0px 0px 1px red, 0px 0px 1px;
    margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.chapter-2-block h2 {
    font-family: "becker-gothics-concave", serif;
    font-weight: 400;
    font-style: normal;
    color:black;
    font-size: 50px;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

.chapter-2-block p {
    color:rgb(0, 0, 0);
    font-size: 25px;
    text-shadow: 0px 0px 1px #000, 0px 0px 1px black, 0px 0px 1px rgb(198, 0, 0), 0px 0px 1px;
    margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.subchapter-2-block h2 {
    font-family: "becker-gothics-concave", serif;
    font-weight: 400;
    font-style: normal;
    color:black;
    font-size: 30px;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.subchapter-2-block p {
    color:rgb(0, 0, 0);
    font-size: 25px;
    text-shadow: 0px 0px 1px #000, 0px 0px 1px black, 0px 0px 1px rgb(0, 0, 0), 0px 0px 1px;
    margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.chapter-3-block h2 {
    font-family: "becker-gothics-concave", serif;
    font-weight: 400;
    font-style: normal;
    color:black;
    font-size: 50px;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.chapter-3-block p {
    color:rgb(16, 16, 16);
    font-size: 25px;
    text-shadow: 0px 0px 1px #000, 0px 0px 1px black, 0px 0px 1px rgb(0, 0, 0), 0px 0px 2px;
    margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.subchapter-3-block h2 {
    font-family: "becker-gothics-concave", serif;
    font-weight: 400;
    font-style: normal;
    color:black;
    font-size: 30px;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.subchapter-3-block p {
    color:rgb(24, 24, 24);
    font-size: 25px;
    text-shadow: 0px 0px 1px #000, 0px 0px 1px black, 0px 0px 1px rgb(53, 53, 53), 0px 0px 4px;
    margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.conclusion-block h2 {
    font-family: "becker-gothics-concave", serif;
    font-weight: 400;
    font-style: normal;
    color:black;
    font-size: 50px;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

.conclusion-block p {
    color:rgb(28, 28, 28);
    font-size: 25px;
    text-shadow: 0px 0px 1px #000, 0px 0px 1px rgb(43, 43, 43), 0px 0px 3px rgb(53, 53, 53), 0px 0px 4px;
    margin-left: auto;
   margin-right: auto;
   width: 50%;
}

/* .footnotes {
    right: 0;
    width: 25%;
   
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
}

.footnotes p {
    font-size: 15px;
}

.footnote {
    position: relative;
    display: none; 
} */


input.margin-toggle {
    display: none;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

label.sidenote-number {
    display: inline-block;
    max-height: 2rem;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote, .marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 1rem;
    top: -0.5rem;
}

.sidenote-number:after, .sidenote:before {
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote-number:after, .sidenote:before {
    position: relative;
    vertical-align: baseline;
}

.sidenote-number  {
    counter-increment: sidenote-counter 1;
}

.dont-break-out {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  
}


/* mobile version here */
@media (max-width: 779px) {

    html, body {
        overflow-x: hidden;
    }

    h2 {
        /* width: 100%; */
        font-size: 1vh !important; 
    }

    .page-wrapper {
        width: 100vw;
    }

    .main {
        width: 100vw;
    }

    .title-container {
    width: 100vw;
    font-size: 20px;
    line-height: 80px;
    }

    .drawing1 {
        top: 0;
        left: 0;
        width: 100vw;
        user-select: none;
        pointer-events: none;
        opacity: 0.7;
        height: auto;
        position: absolute;
        /* transform: rotateY(45deg); */
    }
    
    header > nav {
        font-size: 20px;
        width: 90%;
        padding-top: 30%;
        line-height: 30px;
    }

    .abstract-block {
        width: 90%;
    }

    .abstract-block p {
        font-size: 18px;
    }

    .introduction-block {
        width: 90%;
    }

    .introduction-block p {
        font-size: 18px;
    }

    .chapter-1-block {
        width: 90%;
    }

    .chapter-1-block p {
        font-size: 18px;
    }

    .sidenote p {
        display: none;
    }

    /* .footnotes {
        right: 0;
        width: 25%;
        background-color: #000;
        padding-left: 20px;
        padding-right: 20px;
        position: absolute;
        display: none;
    }
    
    .footnotes p {
        font-size: 10px;
        display: none;
    } */
    


    
        /* everything that u wanna change goes here for mobile */
}






/* how can i target specific chapters */




/*# sourceMappingURL=master.css.map */


